<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/toastify.css">
    <link rel="stylesheet" href="/assets/css/admin.css">


</head>
<body>

<div class="container">
    <div class="dash">
        <h3>Admin Dashboard</h3>
        <hr>
        <div class="row">
            <button id="unapproved" class="btn btn-danger">Unapproved comments</button>
            <button id="approved" class="btn btn-success">Approved comments</button>
        </div>
        <hr>
        <div class="approve">
            <h4>Unapproved comments</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Text</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody id="unapproved-body">

                </tbody>
            </table>

            <button id="approve" type="button" class="btn btn-success">Approve</button>
        </div>

        <div class="disapprove" hidden>
            <h4>Approved comments</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Text</th>
                    <th>Disapprove</th>
                </tr>
                </thead>
                <tbody id="approved-body">

                </tbody>
            </table>

            <button id="disapprove" type="button" class="btn btn-danger">Disapprove</button>
        </div>
    </div>
    <button class="btn btn-danger logout" id="logout">Log out</button>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/assets/js/toastify.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/admin.js"></script>
</body>
</html>