<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/toastify.css">
    <link rel="stylesheet" href="/assets/css/admin.css">


</head>
<body>

<div class="container">
    <div class="dash">
        <h3>Admin Dashboard</h3>
        <hr>
        <div class="row">
            <button id="unapproved" class="btn btn-danger">Unapproved comments</button>
            <button id="approved" class="btn btn-success">Approved comments</button>
        </div>
        <hr>
        <div class="approve">
            <h4>Unapproved comments</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Text</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody id="unapproved-body">

                </tbody>
            </table>

            <button id="approve" type="button" class="btn btn-success">Approve</button>
        </div>

        <div class="disapprove" hidden>
            <h4>Approved comments</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Text</th>
                    <th>Disapprove</th>
                </tr>
                </thead>
                <tbody id="approved-body">

                </tbody>
            </table>

            <button id="disapprove" type="button" class="btn btn-danger">Disapprove</button>
        </div>
    </div>
    <form action="/admin/logout" method="get">
        <button type="submit" class="btn btn-danger logout" id="logout">Log out</button>
    </form>
</div>


<script src="/assets/js/jquery-3.4.1.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/toastify.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/admin.js"></script>
</body>
</html>