<!doctype html>
<html lang="sr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/toastify.css">

    <title>Citrus!</title>
</head>
<body>

<!-- Main Header -->
<header class="main-header">

    <!-- Top Bar -->
    <div class="top-bar">
        <!-- Container -->
        <div class="container">
            <a href="#" class="phone-info">+381 11 555 55 555</a>
            <a href="http://dev.citrus.com/admin/login" class="login">Sign in</a>
            <div style="clear: both"></div>
        </div>
        <!-- Container END -->
    </div>
    <!-- Top Bar END -->

    <!-- Navbar -->

    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="logo"><a href="index.html"><img src="/assets/img/logo.png" alt="logo" class="img-fluid"></a>
            </h1>


            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://dev.citrus.com">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://dev.citrus.com">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <!-- Search Cart Holder -->
            <div class="search-cart-holder">
                <div class="search">
                    <input aria-label="Trazi" class="form-control">
                    <button type="submit" class="btn"></button>
                </div>
                <a href="#" class="cart">
                    <img src="/assets/img/cart-icon.png" alt="Korpa">
                    <span class="badge badge-pill badge-danger">2</span>
                </a>
            </div>
            <!-- Search Cart Holder END -->
        </div>
        <!-- Container END -->


    </nav>
    <!-- Navbar END -->
</header>
<div class="error">
    <h1>Path not found</h1>
</div>

<footer class="main-footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <!-- Info -->
            <div class="row" style="display: flex; justify-content: space-between">
                <div class="col-md-3">
                    <h3>Citrus</h3>
                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate dolorum
                        esse expedita
                        fugiat nobis omnis praesentium suscipit ut. Aut.</p>
                    <p><a href="mailto:citrus@gmail.com">citrus@gmail.com</a><br>
                        <a href="tel:+381651234123">+381 65 123 4 123</a><br>
                        Citrus 3, Novi Beograd, Srbija
                    </p>
                </div>
                <!-- Info END -->
                <!-- Users -->

                <!-- Users END -->
                <!-- Tags -->
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <h4>Tags</h4>
                    <ul class="list-reset tags clearfix">
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">Fresh</a></li>
                        <li><a href="#">Citrus</a></li>
                        <li><a href="#">Lemon</a></li>
                        <li><a href="#">Orange</a></li>
                        <li><a href="#">Tangarine</a></li>
                        <li><a href="#">Oroblanco</a></li>
                        <li><a href="#">Mandarine</a></li>
                    </ul>
                </div>
                <!-- Tags END -->
            </div>
        </div>
        <span class="back-to-top">Back to top</span>
    </div>

    <!-- Footer Top END -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Soc Net List -->
            <ul class="soc-net list-reset">
                <li><a href="#" target="_blank" class="fb">Facebook</a></li>
                <li><a href="#" target="_blank" class="tw">Twitter</a></li>
                <li><a href="#" target="_blank" class="in">Instagram</a></li>
                <li><a href="#" target="_blank" class="yt">YouTube</a></li>
            </ul>
            <!-- Soc Net List END -->
            <!-- Footer Nav -->
            <!-- Footer Nav END -->
        </div>
    </div>
    <!-- Footer Bottom END -->
</footer>
<!-- Main Footer END -->

<!-- JQuery -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/toastify.js"></script>
</body>
</html>
